<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210927831649-4m78g9en9rl0snv1au548jv11mhohdb6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210927831649-4m78g9en9rl0snv1au548jv11mhohdb6</string>
	<key>API_KEY</key>
	<string>AIzaSyC0xGn4YuEAjnbO1VA6FIPObNesrnvPlAk</string>
	<key>GCM_SENDER_ID</key>
	<string>210927831649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>akbala-astanait.edu.kz.FinalExam</string>
	<key>PROJECT_ID</key>
	<string>recipeapp-6fb02</string>
	<key>STORAGE_BUCKET</key>
	<string>recipeapp-6fb02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210927831649:ios:32b91a3510ac846e897820</string>
</dict>
</plist>